/* import fonts from fonts.css file */
@import url(./fonts.css);

/* css variables */
@import url(./_variables.css);

body {
  background: #fafafa;
  color: #333333;
  margin-top: 8rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

/* start navigation */

.site-header .navbar{
  padding: 0.5rem 3rem ;
}

.site-header .navbar .navbar-nav .nav-link {
  font: normal 500 15px/2px var(--roboto);
  padding: 1.2rem;
  color: #fff;
}

.site-header .navbar .navbar-nav .nav-link:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.site-header .navbar .navbar-nav .nav-link.active {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* end navigation */

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
